/*
!/.gitignore
!/README.md
!/CHANGELOG.md
!/AGENTS.md
!/TOOLS.md
!/mrmcp.js
!/commands.yaml
!/guided_prompts.yaml
!/.github/
!/.github/workflows/
!/.github/workflows/release.yml
!/assets/
!/assets/**
